<h1>Steam App ID Search</h1>
<form>
  <div class="form-group">
    {{input value=appId class="form-control" id="appId" type="number"}}
  </div>

  <button class="btn btn-info submit-button" {{action 'appIdSearch'}}>Submit</button>

</form>
