<h1>Steam App ID Lookup</h1>
<div class="col-md-5">
<form>
  <div class="form-group">
    {{input value=appId class="form-control" id="appId"}}
  </div>

  <button class="btn btn-primary" {{action 'appIdSearch'}}>Submit</button>

</form>
</div>
