<h1>Steam Game Search</h1>

<form>
  <div class="form-group">
    {{input value=game class="form-control" id="game"}}
  </div>

  <button class="btn btn-info submit-button" {{action 'gameSearch'}}>Submit</button>

</form>
