<h1>User Profile ID Search</h1>
<form>
  <div class="form-group">
    {{input value=userId class="form-control" id="userId"}}
  </div>

  <div class="center"><h3>Not sure what your Steam ID is? Find it <a class="white-link" href="https://steamid.io/lookup">here</a>!</h3></div>

  <button class="btn btn-info submit-button" {{action 'userIdSearch'}}>Submit</button>

</form>

<h2>Don't have a Steam account or can't find yours? Check out the developers' profiles below.</h2>

<h2>{{#link-to 'userid-results' "76561197973433183" class="white-link"}}Adam{{/link-to}}</h2>
<h2>{{#link-to 'userid-results' "76561198025036440" class="white-link"}}Noah{{/link-to}}</h2>
<h2>{{#link-to 'userid-results' "76561198088669793" class="white-link"}}Ashley{{/link-to}}</h2>
<h2>{{#link-to 'userid-results' "76561198033247487" class="white-link"}}Andrew{{/link-to}}</h2>
