<h1>User Profile ID Lookup</h1>

<form>
  <div class="form-group">
    {{input value=userId id="userId"}}
  </div>

  <h3>Not sure what your Steam ID is? Find it <a href="https://steamid.io/lookup">here</a>!</h3>

  <button class="btn btn-primary" {{action 'userIdSearch'}}>Submit</button>

</form>
