<h1>User Profile ID Search</h1>
<form>
  <div class="form-group">
    {{input value=userId class="form-control" id="userId"}}
  </div>

  <div class="center"><h3>Not sure what your Steam ID is? Find it <a class="white-link" href="https://steamid.io/lookup">here</a>!</h3></div>

  <button class="btn btn-info submit-button" {{action 'userIdSearch'}}>Submit</button>

</form>
