<div class="row">
  <div class="col-xs-6 shame-box-stats">
    <em>{{gamelibraryData sortedGames}}</em>
  </div>

  <div class="col-xs-6 shame-box-top-ten">
    <h3>Your Top 10 Games: <h5>(ranked by playtime)</h5></h3>
    {{#each topTenGames as |game|}}
      <div class="col-xs-6">
        <div class="topten-gamebox">
          <b class="glyphicon glyphicon-heart"></b>
          <br>
          <span class="top-ten-link">{{#link-to 'appid-results' game.appid }}{{game.name}}{{/link-to}}</span>
          <br>
          {{minutesConversion game.playtime_forever}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
