<h1>User Profile ID Lookup</h1>

<form>
  <div class="form-group">
    {{input value=userId id="userId"}}
  </div>

  <button class="btn btn-primary" {{action 'userIdSearch'}}>Submit</button>

</form>
