/*A&A code starts here*/

body {
  background-color: #a3a3a3;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.glyphicon-home {
  color:green;
}

.glyphicon-user {
 color: orange;
}

.glyphicon-tower {
  color: crimson;
}

.glyphicon-search {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: #00b4cc;
}

.white-link {
  color: white;
}

.repo {
  float: right;
}

.hideImg img {
  display: none;
}

.form-control {
  height: 150px;
  font-size: 36pt;
  text-align: center;
}

.submit-button {
  font-size: 36pt;
}

.user-box {
  margin-top: 20px;
  color: white;
  background-color: #858585;
  padding: 10px;
  border: solid #f7a42f 10px;
  border-radius: 10px;
}

.shame-box-stats {
  padding: 20px;
  font-size: 14pt;
}

.shame-box-top-ten {
  font-size: 14pt;
  margin-top: 20px;
  color: white;
  background-color: #858585;
  padding: 10px;
  border: solid #00b4cc 10px;
  border-radius: 10px;
}

.shame-box-top-ten a {
  color: white;
}

.topten-gamebox {
  font-size: 12pt;
  padding: 5px;
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.friend-name {
  font-size: 22pt;
}

.friend-box img {
  height: 200px;
}

.friend-box:hover {
  opacity: 0.5;
}

.all-charts {
  margin-top: 40px;
}

.top-ten-link a {
  color: black;
}

.top-ten-link a:hover {
  text-decoration: none;
  color: #00b4cc;
}

.center {
  text-align: center;
}

.game-info {
  border-radius: 10px;
  border-color: #f7a42f;
  border-width: 10px;
  border-style: solid;
  background-color: #858585;
  text-align: left;
}
.test {
  font-size: 16pt;
}
.glyphicon-ok {
  color: #00FF00;
}

.glyphicon-remove {
  color: red;
}
.requirements {
  font-size: 14pt;
}

.front {
  text-align: center;
  border-radius: 10px;
  border-color: #f7a42f;
  border-width: 10px;
  border-style: solid;
  background-color: #858585;
  padding-bottom: 17px;
}

h1 {
  font-size: 50px;
}

.description {
  padding: 10px;
  background-color: #858585;
  border-radius: 10px;
  border-color: #00b4cc;
  border-width: 10px;
  border-style: solid;
  overflow: hidden;
}

.description img {
  max-width: 100%;
}


footer {
  background-color: #858585;
  left: 0;
  right: 0;
    position: fixed;
  text-align: center;
  bottom: 0;
}

.jumbotron {
  text-align: center;
}

a {
  color: #55ACFF;
}
