<h1>All Friends:</h1>
{{#if model}}
  <ul>
  {{#each model as |friend|}}
    <div class="col-xs-3 friend-box">
      {{#link-to 'userid-results' friend.steamid class="white-link friend-name" }}{{friend.personaname}}<br>
      <img src="{{friend.avatarfull}}"/>
      {{/link-to}}
    </div>
  {{/each}}
</ul>
{{else}}
  No friends!
{{/if}}
