<h1>game.name</h1>

<h4>game.detail_description</h4>

<ul>
  {{#each model as |achievement|}}
  <li>
    {{achievement.displayName}}
    <br>
    {{achievement.description}}
    <br>
    <img src={{achievement.icon}}>
  </li>
  {{/each}}
</ul>
