

  <div class="row head">
    <div class="jumbotron">
    <h1>Steam Shame</h1>
    <h3>Come explore all the games, and find out how much you have wasted your life on games</h3>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3 front">
      <h2>{{#link-to 'appid-search'}}App ID Search{{/link-to}}</h2>
    </div>
    <div class="col-md-4 col-md-offset-1 front">
      <h2>Welcome to Steam Info!</h2>
    </div>
    <div class="col-md-3 col-md-offset-1 front">
      <h2>{{#link-to 'userid-search'}}User ID Search{{/link-to}}</h2>

    </div>
  </div>

  <footer>
    <h4><a href="https://github.com/AdamCraig/steam-info">Steam Shame</a></h4>
    <h3>GitHub: <a href="https://github.com/AdamCraig">Adam Craig</a> | <a href="https://github.com/NoahKittleson">Noah Kittleson</a> | <a href="https://github.com/AshleyRayMaceli">Ashley Maceli</a> | <a href="https://github.com/Russspruce">Andrew Russo</a></h3>
  </footer>
