

  <div class="row head">
    <div class="jumbotron">
    <h1>Steam Shame</h1>
    <h3>Come explore all the games, and figure out how much of your life you've wasted on Steam!</h3>

    </div>
  </div>
  <div class="row">
    <div class="col-md-5 front">
      {{#link-to 'game-search'}}
        <h1>Game Search</h1>
        <h1><b class='glyphicon glyphicon-equalizer'></b></h1>
      {{/link-to}}
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-5 front">
      {{#link-to 'userid-search'}}
        <h1>User ID Search</h1>
        <h1><b class='glyphicon glyphicon-sunglasses'></b></h1>
      {{/link-to}}
    </div>
  </div>

  <footer>
    <h4>
      <a href="https://github.com/AdamCraig/steam-info">
      <b class="glyphicon glyphicon-level-up"></b>
      <br>
      Steam Shame Repo</a></h4>
    <h3>GitHub: <a href="https://github.com/AdamCraig">Adam Craig</a> | <a href="https://github.com/NoahKittleson">Noah Kittleson</a> | <a href="https://github.com/AshleyRayMaceli">Ashley Maceli</a> | <a href="https://github.com/Russspruce">Andrew Russo</a></h3>
  </footer>
